.container {
  padding: 2rem;
}

.section {
  margin-bottom: 3rem;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tableWrapper {
  max-height: 300px;
  overflow: auto;
}
